body {
    height: 100%;
}

.container-div {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-div {
    width: 35%;
    background: var(--sl-color-neutral-100);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.right-div {
    background: var(--sl-color-neutral-50);
    display: flex;
    padding: 5px;
    flex: 1;
}

.map-size {
    width: 100%;
    height: 600px;
}

.arrow {
    width: 70px;
    height: 70px;
}

.turn-arrow-margin {
    margin: 10px;
}

.arrows-container-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.up-arrow-div {
    padding-top: 10px;
    justify-content: center;
}

.stop-sign {
    padding: 10px;
    width: 100px;
    height: 100px;
}

.center-arrow-div {
    align-content: center;
    flex-wrap: wrap;
}

.center-flex-div {
    display: flex;
    justify-content: center;
}

.events-list-div {
    max-height: 400px;
    overflow-y: auto;
    padding-top: 20px;
}

.events-menu {
    width: 95%;
    max-width: 600px;
}

.events-item {
    max-width: 600px;
}
